<h1>Questions#answer</h1>
<p>Find me in app/views/questions/answer.html.erb</p>
<h2>message was <%= @question %></h2>
<h2>answer is  <%= @answer %></h2>

<%= link_to "Ask another question", "/ask" %>

