// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.input_form {
  font-size: 20px;
  width: 500px;
}

body {
  font-family: 'Montserrat', sans-serif;
}

